In [1]:
############################# Data Visualization ###########################

#Group: Big Data Developers
#Members: Akhil, Sagar, Riddhima, Ganga
#Analysis: Visualization on Parking Violations Issued - Fiscal Year 2020

############################################################################

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(color_codes=True)
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [3]:
import os
destdir = '/Users/akhil/Desktop/nyc-parking-tickets/'
files = [ f for f in os.listdir(destdir) if os.path.isfile(os.path.join(destdir,f)) ]

In [4]:
files

['Analysis.ipynb',
 'FullData.csv',
 'nyc-parking-ticket-master.zip',
 'ParkingData.csv',
 'spark akhil']

In [ ]:
###################### Full Data Imported ######################

In [5]:
Fulldata = pd.read_csv('/Users/akhil/Desktop/nyc-parking-tickets/FullData.csv')

C:\Users\akhil\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (9,10,11,16,17,18,20,21,22,23,26,27,29,30,31,32,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
Fulldata.head(n=2)

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,1363745438,JCK7576,PA,PAS,07/09/2015,21,SDN,ME/BE,P,42730,...,WHITE,0.0,0.0,-,0.0,NaN,NaN,NaN,NaN,NaN
1,1363745475,GYK7658,NY,OMS,07/09/2015,21,SUBN,NISSA,P,58130,...,BK,0.0,2015.0,-,0.0,NaN,NaN,NaN,NaN,NaN

In [7]:
Fulldata.shape

(10940405, 43)

In [ ]:
###################### Checking Nan and Unique entries ######################

In [8]:
d = {'Unique Entry': Fulldata.nunique(axis = 0),
        'Nan Entry': Fulldata.isnull().any()}
pd.DataFrame(data = d, index = Fulldata.columns.values)

                                   Unique Entry  Nan Entry
Summons Number                         10940101      False
Plate ID                                3637599       True
Registration State                           69      False
Plate Type                                   85      False
Issue Date                                 2359       True
Violation Code                              100      False
Vehicle Body Type                          2138       True
Vehicle Make                               5961       True
Issuing Agency                               19      False
Street Code1                              14814      False
Street Code2                              15412      False
Street Code3                              15210      False
Vehicle Expiration Date                    4513       True
Violation Location                          286       True
Violation Precinct                          287       True
Issuer Precinct                             680       True
Issuer Code                               63279       True
Issuer Command                             3460       True
Issuer Squad                                 53       True
Violation Time                             1860       True
Time First Observed                        2068       True
Violation County                             13       True
Violation In Front Of Or Opposite             7       True
House Number                              52994       True
Street Name                               89184       True
Intersecting Street                      245157       True
Date First Observed                        1370       True
Law Section                                  11       True
Sub Division                                143       True
Violation Legal Code                          3       True
Days Parking In Effect                      185       True
From Hours In Effect                        488       True
To Hours In Effect                          559       True
Vehicle Color                              2440       True
Unregistered Vehicle?                         2       True
Vehicle Year                                100       True
Meter Number                              31675       True
Feet From Curb                               17       True
Violation Post Code                        1258       True
Violation Description                       114       True
No Standing or Stopping Violation             0       True
Hydrant Violation                             0       True
Double Parking Violation                      0       True

In [ ]:
###################### Removing unwanted columns ######################

In [9]:
drop_column = ['No Standing or Stopping Violation', 'Hydrant Violation',
               'Double Parking Violation']
Fulldata.drop(drop_column, axis = 1, inplace = True)

In [10]:
Fulldata.shape

(10940405, 40)

In [ ]:
###################### Removing wrong entries ######################

In [11]:
df3 = Fulldata[Fulldata['Registration State'] != '99']

In [ ]:
###################### Assign df To to New variable ######################

In [12]:
FullData1=df3

In [13]:
FullData1.shape

(10905349, 40)